<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adds mems</title>
</head>
<body>


<form action="/mems" method="post" th:object="${mem}" id="myform">
    <label for="field">Podaj tytuł mema</label>
    <input th:field="*{title}" id="field" name="field" minlength="2" type="text" required>
    <br/>
    <label for="url">Podaj adres url mema</label>
    <input th:field="*{url}" id="url" name="url" minlength="6" type="url" required>
    <input type="submit" value="Dodaj"/>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>

$.validate({
        modules: 'html5, logic, security',
        validateOnEvent: true,
        reCaptchaSitekey: '...',
        reCaptchaSize: 'normal',
        reCaptchaTheme: 'light',
    });
$("#myform").validate();
</script>

</body>
</html>