<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adds mems</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
</head>
<body>


<form action="/mems" method="post" th:object="${mem}" id="myform">
    <label for="field">Podaj tytuł mema</label>
    <input th:field="*{title}" id="field" name="field" minlength="2" type="text" title="Opis jest wymagany" required>
    <br/>
    <label for="url">Podaj adres url mema</label>
    <input th:field="*{url}" id="url" name="url" data-validation="custom" data-validation-regexp="^(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)$">

    <select name="memsCategory" id="memsCategory" title="Wybierz kategorie" required>
        <option th:each="cat:${memsCategory}" th:value="${cat.id}" th:text="${cat.category}"></option>
    </select>

    <input type="submit" value="Dodaj"/>
</form>
<script>
var pl_PL = {
        errorTitle: 'Przesyłanie formularza nie powiodło się!',
        requiredFields: 'Nie odpowiedziałeś na wszystkie wymagane pola',
        badTime: 'Nie podałeś prawidłowego czasu',
        badEmail: 'Nie podałeś poprawnego adresu e-mail',
        badTelephone: 'Nie podałeś poprawnego numeru telefonu',
        badSecurityAnswer: 'Nie podałeś poprawnej odpowiedzi na pytanie dotyczące bezpieczeństwa',
        badDate: 'Nie podałeś poprawnej daty',
        lengthBadStart: 'Wartość wejściowa musi wynosić od ',
        lengthBadEnd: ' znaków',
        lengthTooLongStart: 'Wartość wejściowa jest dłuższa niż ',
        lengthTooShortStart: 'Wartość wejściowa jest krótsza niż ',
        notConfirmed: 'Wartości wejściowe nie mogły zostać potwierdzone',
        badDomain: 'Nieprawidłowa nazwa domeny',
        badUrl: 'Niepoprawny adres URL',
        badCustomVal: 'Niepoprawna wartość',
        andSpaces: ' i spacje ',
        badInt: 'Niepoprawny numer',
        badSecurityNumber: 'Twój numer ubezpieczenia społecznego był nieprawidłowy',
        badUKVatAnswer: 'Niepoprawny VAT numer',
        badStrength: 'Hasło jest za słabe',
        badNumberOfSelectedOptionsStart: 'Musisz wybrać przynajmniej ',
        badNumberOfSelectedOptionsEnd: ' odpowiedź',
        badAlphaNumeric: 'Wartość wejściowa może zawierać tylko znaki alfanumeryczne ',
        badAlphaNumericExtra: ' i ',
        wrongFileSize: 'Plik który chcesz przesłać jest za duży (max %s)',
        wrongFileType: 'Tylko plik typu %s jest dozwolony',
        groupCheckedRangeStart: 'Wybierz pomiędzy ',
        groupCheckedTooFewStart: 'Wybierz przynajmniej ',
        groupCheckedTooManyStart: 'Wybierz maksimum z ',
        groupCheckedEnd: ' przedmiot(ów)',
        badCreditCard: 'Numer karty kredytowej jest niepoprawny',
        badCVV: 'Numer CVV jest niepoprawny',
        wrongFileDim : 'Niepoprawny rozmiar pliku graficznego,',
        imageTooTall : 'plik graficzny nie może być wyższy niż',
        imageTooWide : 'plik graficzny nie może być szerszy niż',
        imageTooSmall : 'plik jest za mały',
        min : 'min',
        max : 'maks',
        imageRatioNotAccepted : 'Współczynnik proporcji obrazu nie jest akceptowany'
    };

  $.validate({
    language : pl_PL,
    modules : 'poland'
  });
</script>
</body>
</html>